# 네이버 주식 일별 시세 페이지 크롤링하기 

블로그 : http://blog.quantylab.com/crawling_naverfin_daycandle.html

In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

## 크롤링할 종목의 코드번호를 코드에 입력

In [23]:
#삼성전자 코드 번호 
code = '005930' 
code

'005930'

In [62]:
url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
url

'http://finance.naver.com/item/sise_day.nhn?code=005930'

In [25]:
res = requests.get(url)
res.encoding = 'utf-8'
res.status_code

200

In [27]:
from bs4 import BeautifulSoup
soap = BeautifulSoup(res.text, 'lxml')

## 종목과 페이지 번호를 입력으로 받아서 일별 주가를 Pandas DataFrame 객체로 반환시킴

In [28]:
import traceback
import pandas as pd
import numpy as np

def parse_page(code, page):
    try:
        url = 'http://finance.naver.com/item/sise_day.nhn?code={code}&page={page}'.format(code=code, page=page)
        res = requests.get(url)
        _soap = BeautifulSoup(res.text, 'lxml')
        _df = pd.read_html(str(_soap.find("table")), header=0)[0]
        _df = _df.dropna()
        return _df
    except Exception as e:
        traceback.print_exc()
    return None

## 페이지 별로 불러오기

In [29]:
#1페이지 불러오기 
parse_page(code, 1)

            날짜       종가     전일비       시가       고가       저가         거래량
1   2020.08.11  58200.0   400.0  58000.0  59500.0  57800.0  24765231.0
2   2020.08.10  57800.0   300.0  57600.0  58300.0  57500.0  17774291.0
3   2020.08.07  57500.0   500.0  57900.0  58400.0  57100.0  18751717.0
4   2020.08.06  58000.0  1100.0  57100.0  58400.0  57100.0  21625874.0
5   2020.08.05  56900.0   400.0  57300.0  57500.0  56300.0  17739706.0
9   2020.08.04  57300.0   500.0  57200.0  58100.0  57000.0  19419694.0
10  2020.08.03  56800.0  1100.0  57800.0  57900.0  56700.0  21158940.0
11  2020.07.31  57900.0  1100.0  59500.0  59600.0  57700.0  21943345.0
12  2020.07.30  59000.0     0.0  59700.0  60100.0  59000.0  19285354.0
13  2020.07.29  59000.0   400.0  60300.0  60400.0  58600.0  36476611.0

In [30]:
#2페이지 불러오기 
parse_page(code, 2)

            날짜       종가     전일비       시가       고가       저가         거래량
1   2020.07.28  58600.0  3000.0  57000.0  58800.0  56400.0  48431566.0
2   2020.07.27  55600.0  1400.0  54300.0  55700.0  54300.0  21054421.0
3   2020.07.24  54200.0   100.0  54000.0  54400.0  53700.0  10994535.0
4   2020.07.23  54100.0   600.0  54700.0  54700.0  53800.0  16214932.0
5   2020.07.22  54700.0   600.0  55300.0  55500.0  54700.0  12885057.0
9   2020.07.21  55300.0  1100.0  55200.0  55400.0  54800.0  18297260.0
10  2020.07.20  54200.0   200.0  54800.0  54800.0  54000.0  10507530.0
11  2020.07.17  54400.0   600.0  54200.0  54700.0  54100.0  10096174.0
12  2020.07.16  53800.0   900.0  54800.0  54800.0  53800.0  16779127.0
13  2020.07.15  54700.0   900.0  54400.0  55000.0  54300.0  24051450.0

In [31]:
#1페이지 데이터 프레임으로 저장 
data = parse_page(code, 1)
df = pd.DataFrame(data)
df.head()

           날짜       종가     전일비       시가       고가       저가         거래량
1  2020.08.11  58200.0   400.0  58000.0  59500.0  57800.0  24765231.0
2  2020.08.10  57800.0   300.0  57600.0  58300.0  57500.0  17774291.0
3  2020.08.07  57500.0   500.0  57900.0  58400.0  57100.0  18751717.0
4  2020.08.06  58000.0  1100.0  57100.0  58400.0  57100.0  21625874.0
5  2020.08.05  56900.0   400.0  57300.0  57500.0  56300.0  17739706.0

## csv 파일로 저장하고 불러오기

In [32]:
#csv로 저장 
df.to_csv('naver_finance_1P.csv',index= False)

In [61]:
#csv 불러오기
finance = pd.read_csv("../과제/naver_finance_1P.csv")
finance

           날짜       종가     전일비       시가       고가       저가         거래량
0  2020.08.11  58200.0   400.0  58000.0  59500.0  57800.0  24765231.0
1  2020.08.10  57800.0   300.0  57600.0  58300.0  57500.0  17774291.0
2  2020.08.07  57500.0   500.0  57900.0  58400.0  57100.0  18751717.0
3  2020.08.06  58000.0  1100.0  57100.0  58400.0  57100.0  21625874.0
4  2020.08.05  56900.0   400.0  57300.0  57500.0  56300.0  17739706.0
5  2020.08.04  57300.0   500.0  57200.0  58100.0  57000.0  19419694.0
6  2020.08.03  56800.0  1100.0  57800.0  57900.0  56700.0  21158940.0
7  2020.07.31  57900.0  1100.0  59500.0  59600.0  57700.0  21943345.0
8  2020.07.30  59000.0     0.0  59700.0  60100.0  59000.0  19285354.0
9  2020.07.29  59000.0   400.0  60300.0  60400.0  58600.0  36476611.0

## 기준일자 이후 파일 가져오기

In [44]:
#마지막 페이지 확인하기
el_table_navi = soap.find("table", class_="Nnavi")
el_td_last = el_table_navi.find("td", class_="pgRR")
pg_last = el_td_last.a.get('href').rsplit('&')[1]
pg_last = pg_last.split('=')[1]
pg_last = int(pg_last)
pg_last

607

In [45]:
parse_page(code, 607)

            날짜       종가     전일비       시가       고가       저가       거래량
1   1996.07.02  72900.0   900.0  72000.0  74100.0  72000.0  276270.0
2   1996.07.01  72000.0  3500.0  69000.0  72300.0  68800.0  147310.0
3   1996.06.29  68500.0   400.0  68100.0  69100.0  67100.0   96710.0
4   1996.06.28  68100.0  1200.0  67300.0  68500.0  67200.0  138430.0
5   1996.06.27  66900.0   800.0  67500.0  67700.0  66700.0  155450.0
9   1996.06.26  67700.0   200.0  67600.0  67900.0  66000.0  136630.0
10  1996.06.25  67500.0     0.0  66500.0  68300.0  65600.0  112960.0

In [41]:
#기준일자 정하기 
import datetime
str_datefrom = datetime.datetime.strftime(datetime.datetime(year=1996, month=6, day=25), '%Y.%m.%d')
str_datefrom

'1996.06.25'

In [35]:
#현재 날짜 확인하기 
str_dateto = datetime.datetime.strftime(datetime.datetime.today(), '%Y.%m.%d')
str_dateto

'2020.08.11'

In [42]:
df = None
for page in range(1, pg_last+1):
    _df = parse_page(code, page)
    _df_filtered = _df[_df['날짜'] > str_datefrom]
    if df is None:
        df = _df_filtered
    else:
        df = pd.concat([df, _df_filtered])
    if len(_df) > len(_df_filtered):
        break

In [54]:
import os
path_dir = '과제/2019-08-11-crawling'
if not os.path.exists(path_dir):
    os.makedirs(path_dir)
path = os.path.join(path_dir, '{code}_{date_from}_{date_to}.csv'.format(code=code, date_from=str_datefrom, date_to=str_dateto))
path

'과제/2019-08-11-crawling\\005930_1996.06.25_2020.08.11.csv'

In [50]:
df.to_csv(path, index=False)

In [60]:
finance_all_day = pd.read_csv("../과제/005930_1996.06.25_2020.08.11.csv")
finance_all_day.tail()

              날짜       종가     전일비       시가       고가       저가       거래량
6061  1996.07.01  72000.0  3500.0  69000.0  72300.0  68800.0  147310.0
6062  1996.06.29  68500.0   400.0  68100.0  69100.0  67100.0   96710.0
6063  1996.06.28  68100.0  1200.0  67300.0  68500.0  67200.0  138430.0
6064  1996.06.27  66900.0   800.0  67500.0  67700.0  66700.0  155450.0
6065  1996.06.26  67700.0   200.0  67600.0  67900.0  66000.0  136630.0